body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 35px;
    color: #25123b;
}

section {
    text-align: center;
    margin-bottom: 10%;
}

.top-section {
    text-align: center;
    padding: 10% 5%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}

.top-section h1 {
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.top-section p {
    margin-bottom: 50px;
}

.btn-style {
    text-decoration: none;
    color: white;
    background-color: #371B58;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}



.amount-section p {
    padding: 0 20% 2% 20%;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.amount-select p {
    font-size: 30px;
    padding: 40px;
    margin: 10px;
    background-color: #fff4cfa4;
    border-radius: 5px;
}

#special-amount {
    border: 4px solid #683aa8;
    background-color: #7858a63a;
    color: #25123b;
}

.amount-input input {
    text-align: center;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    border: none;
    border-bottom: 1px solid #7858a63a;
    width: 60%;
    padding: 8px 0;
    margin: 30px;
}

.choose-section {
    padding: 1% 10%;
}

.choose-section>p {
    padding: 0 20% 2% 20%;
}

.box {
    text-align: left;
    padding: 20px 20px;
    margin: 10px 20px;
    border-radius: 5px;
}

.box img {
    width: 20%;
}

#left-box {
    background-color: #CEE5D0;
}

#mid-box {
    background-color: #F9F5EB;
}

#right-box {
    background-color: #EAE3D2;
}

.extra-section {
    display: flex;
    padding: 0 5%;
}

.half-width {
    width: 50%;
    text-align: left;
    padding-left: 50px;
}

.half-width h1 {
    color: #25123b;
}

.half-width p {
    margin: 30px 0;
}

.half-width img {
    width: 90%;
    margin-left: 20px;
    border-radius: 5px;
}

.email-field {
    background-color: #FCE2DB;
    margin: 5% 15%;
    padding: 50px 0px;
}

.email-field input {
    border: none;
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 5px;
}


footer {
    text-align: center;
    background-color: #371B58;
    color: #FCE2DB;
    padding: 15px 0 25px 0;
}

footer h1 {
    font-family: 'DynaPuff', cursive;
    font-size: 40px;
    color: #FCE2DB;
}